<app-admin-navbar></app-admin-navbar>
<div class="container-fluid">
  <div class="row contenido">
    <div class="row titulo text-center">
      <h3>Detalles Plan</h3>
    </div>
    <div class="datosPlan">
      <table class="table table-borderless" style="margin-left: 15%;">
        <thead>
          <tr>
            <td scope="col"></td>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row">Nombre</td>
            <td>{{datosPlan.nombre}}</td>
          </tr>
          <tr>
            <td scope="row">ID</td>
            <td>{{datosPlan._id}}</td>
          </tr>
          <tr>
            <td scope="row">Descripción</td>
            <td>{{datosPlan.descripcion}}</td>
          </tr>
          <tr>
            <td scope="row">Maximo de articulos</td>
            <td>{{datosPlan.maxArticulos}}</td>
          </tr>
          <tr>
            <td scope="row">Estadisticas</td>
            <td>{{datosPlan.estadisticas}} </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row boton justify-content-center">
      <button class="btn btn-success btnPlan" data-bs-toggle="modal" data-bs-target="#modalEditar">Editar</button>
    </div>
  </div>
</div>
<div class="pie"><br></div>

<!-- Modal -->
<div class="modal fade" id="modalEditar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar plan</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="datosPlanNuevo">
          <label for="nombre">Nombre:</label>
          <input type="text" class="form-control" formControlName="nombre">
          <label for="descripcion">Descripción:</label>
          <input type="text" class="form-control" formControlName="descripcion">
          <label for="maxArticulos">Maximo de articulos</label>
          <input type="text" class="form-control" formControlName="maxArticulos">
          <label for="estadisticas">estadisticas (si/no)</label>
          <input type="text" class="form-control" formControlName="estadisticas">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="editarPlan()">Aceptar</button>
      </div>
    </div>
  </div>
</div>