<div class="contenedor">
    <div class="navegacion ocultarP">
        <div class="contenedor-nav">
            <div class="nav-l" style="text-align: center;">
                <a class="navbar-brand" href="/empresa/principal" style="width: 50%;">
                    <img class="logo" src="./assets/logo-lateral.png" style="width: 100%;"><img>
                </a>
            </div>
            <div class="nav-r">
                <a href="/empresa/categorias">Categorías</a>
            </div>
           
          
            <div class="nav-r">
                <a href="/empresa/Productos">Productos</a>
            </div> <div class="nav-r">
                <a href="/empresa/historial">Historial</a>
            </div>
            <div class="nav-r">
                <div>
                    <input class="btnCerrarSesion" type="button" value="Cerrar Sesión" (click)="cerrarSesion()">
                </div>
            </div>
        </div>
    </div>
    <div class="navegacion ocultar">
        <div class="contenedor-nav">
            <div class="nav-l" style="text-align: center;">
                <a class="navbar-brand" href="/empresa/principal" style="width: 50%;">
                    <img class="logo" src="./assets/logo-lateral.png" style="width: 100%;"><img>
                </a>
            </div>
            <div class="dropdown">
                <button class="btn btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Menu
                </button>
                <ul class="dropdown-menu">
                    <div class="nav-r">
                        <a href="/empresa/categorias">Categorías</a>
                    </div>
                   
                  
                    <div class="nav-r">
                        <a href="/empresa/Productos">Productos</a>
                    </div> <div class="nav-r">
                        <a href="/empresa/historial">Historial</a>
                    </div>
                    <div class="nav-r">
                        <div>
                            <input class="btnCerrarSesion" type="button" value="Cerrar Sesión" (click)="cerrarSesion()">
                        </div>
                    </div>
                </ul>
              </div>
            
        </div>
    </div>

    <div class="contenido">
        <div class="botones">
            <a href="/empresa/agregarProducto"><input class="btnPrincipal" type="button" value="AGREGAR PRODUCTOS"></a>
            <a href="/empresa/VerProductos"><input class="btnPrincipal" type="button" value="VER PRODUCTOS"></a>
        </div>
    </div>
    <img *ngIf="logo" [src]="logo" alt="no disponible" class="logoEmpresa">
    <div class="pie"><br></div>
</div>

