
.btnPlan{
    border-radius: 7px;
    background-color: #184E5D;
    color: white;
    margin-top: 1.5rem;
}

.btnDetalles {
    border-radius: 7px;
    background-color: #184E5D;
    color: white;
}
 

.pie {
    background-color: #184E5D;
    height: 3%;
}

.contenedor {
    background-color: rgba(216, 246, 255, .50);
    display: flex;
    flex-direction: column;
}

.contenido {
    background-color: rgba(216, 246, 255, .50);
    display: flex;
    height: 90vh;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    row-gap: 7px;
    flex-wrap: wrap;
    overflow: auto;
}