.contenedor-nav {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.navegacion {
    background-color: #184E5D;
    flex: 1;
}


.nav-l {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 88%;
    width: 42%;
}

.nav-c {
    flex: 2.7;
    background-color: #184E5D;
    align-items: center;
    justify-content: center;
}

.nav-r {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: larger;
    color: #ECFBFF;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
    color: #ECFBFF;
}
.btnCerrarSesion {
    background-color: rgba(216, 246, 255, .50);
    border-radius: 10px;
    width: 100%;
}