<div class="navegacion">
  <div class="contenedor-nav">
    <div class="nav-l" style="text-align: center;">
      <a class="navbar-brand" href="/admin/home" style="width: 50%;">
        <img class="logo" src="./assets/logo-lateral.png" style="width: 100%;"><img>
      </a>
    </div>
    <div class="nav-r">
      <a href="/admin/usuarios">USUARIOS</a>
    </div>
    <div class="nav-r">
      <a href="/admin/empresas">EMPRESAS</a>
    </div>
    <div class="nav-r">
      <a href="/admin/planes">PLANES</a>
    </div>
    <div class="nav-r">
      <div>
        <input class="btnCerrarSesion" type="button" value="Cerrar Sesión" (click)="cerrarSesion()">
      </div>
    </div>
  </div>
</div>