@media screen and (max-width: 2500px) {
.ocultar{
    display: none;
}
    .contenedor-nav {
        display: flex;
        justify-content: space-between;
        height: 100%;
        align-items: center;
    }
    
    .navegacion {
        background-color: #184E5D;
        flex: 1;
    }
    
    
    .nav-l {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .logo {
        height: 88%;
        width: 42%;
    }
    
    .nav-c {
        flex: 2.7;
        background-color: #184E5D;
        align-items: center;
        justify-content: center;
    }
    
    .nav-r {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: larger;
        color: #ECFBFF;
    }
    
    .pie {
        background-color: #184E5D;
        height: 3%;
    }
    
    a:link,
    a:visited,
    a:active {
        text-decoration: none;
        color: #ECFBFF;
    }
    
    .contenedor {
        background-color: rgba(216, 246, 255, .50);
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    
    .contenido {
        background-color: rgba(216, 246, 255, .50);
        display: flex;
        height: 90vh;
        justify-content: center;
        padding-top: 5rem;
        padding-bottom: 5rem;
        row-gap: 7px;
        column-gap: 15px;
        flex-wrap: wrap;
        text-align: center;
        overflow-y: scroll;
    }
    .btnCerrarSesion {
        background-color: rgba(216, 246, 255, .50);
        border-radius: 10px;
        width: 100%;
    }
    
    
    .imagen-back{
        background-image: url("/assets/fondo-targetas.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .img-tarjeta{
        background-color: white;
        max-width: 100px;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-top: 20px;
    }
    
    .imagen{
        width: 100%;
        height: 100%;
        border-radius: 50px;
    }
    
    .contenedor-informacion{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 49%;
        margin-top: 10%;
    }
    
    .informacion-producto{
        background-color: #184E5D;
        width: 100%;
        height: 100px;
        margin: 0px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #ECFBFF;
    
    }
    
    .correccion-btn{
        
        width: 100px;
        background-color: #184E5D!important;
        border: none;
    }
    
    .correccion-btn:focus{
        border-color: #ECFBFF;
    }
    
    .correccion-contenedor-r{
        width: 70%;
        height: 20%;
        color: white!important;
        fill: white;
    }
}

@media screen and (max-width: 999px) {
    .ocultarP{
        display: none;
    }

    .ocultar{
        display: block;
    }
    .contenedor-nav {
        display: flex;
        justify-content: space-between;
        height: 100%;
        align-items: center;
    }
    
    .navegacion {
        background-color: #184E5D;
        flex: 1;
    }
    
    
    .nav-l {
        flex: 0.3;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .logo {
        height: 88%;
        width: 42%;
    }
    
    .nav-c {
        flex: 2.7;
        background-color: #184E5D;
        align-items: center;
        justify-content: center;
    }
    
    .nav-r {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: larger;
        color: #ECFBFF;
    }
    
    .pie {
        background-color: #184E5D;
        height: 3%;
    }
    
    a:link,
    a:visited,
    a:active {
        text-decoration: none;
        color: #ECFBFF;
    }
    
    .contenedor {
        background-color: rgba(216, 246, 255, .50);
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    
    .contenido {
        background-color: rgba(216, 246, 255, .50);
        display: flex;
        height: 90vh;
        justify-content: center;
        padding-top: 5rem;
        padding-bottom: 5rem;
        row-gap: 7px;
        column-gap: 15px;
        flex-wrap: wrap;
        text-align: center;
        overflow-y: scroll;
    }
    .btnCerrarSesion {
        background-color: rgba(216, 246, 255, .50);
        border-radius: 10px;
        width: 100%;
    }
    
    
    .imagen-back{
        background-image: url("/assets/fondo-targetas.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .img-tarjeta{
        background-color: white;
        max-width: 100px;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-top: 20px;
    }
    
    .imagen{
        width: 100%;
        height: 100%;
        border-radius: 50px;
    }
    
    .contenedor-informacion{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 49%;
        margin-top: 10%;
    }
    
    .informacion-producto{
        background-color: #184E5D;
        width: 100%;
        height: 100px;
        margin: 0px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #ECFBFF;
    
    }
    
    .correccion-btn{
        
        width: 100px;
        background-color: #184E5D!important;
        border: none;
    }
    
    .correccion-btn:focus{
        border-color: #ECFBFF;
    }
    
    .correccion-contenedor-r{
        width: 70%;
        height: 20%;
        color: white!important;
        fill: white;
    }
}